BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0 # 停用自動換行，保留手動排版的長字串與表格
BreakStringLiterals: false # 絕對不截斷字串
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignTrailingComments: true
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: false
